.modal {
    display: none;
    position: fixed;
    width: 400px;
    height: 170px;
    background-color: rgba(109, 108, 108, 0.253);
    border: rgba(39, 39, 39, 0.575) solid 1px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    opacity: 0;
    transition: opacity 0.4s ease;
}

#closeBtn {
    display: block;
    margin-right: 370px;
    cursor: pointer;
}

.modalContent {
    color: rgb(255, 253, 253);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    margin: 10px 0px 0px 10px;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal.active {
    display: flex;
    opacity: 1;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.modal.fadeOut {
    animation: fadeOut 0.5s ease forwards;
}
 
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: white solid 5px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    transition: all 0.02s;
    font-weight: bold;
    cursor: pointer;
    color: rgb(37, 37, 37);
    z-index: 0;
  }
  
  .about:hover {
    background: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
  }
  
  .about:active {
    transform: scale(0.97);
  }
  
  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hoverEffect div {
    background: rgb(222, 0, 75);
    background: linear-gradient(
      90deg,
      rgb(0, 247, 62) 0%,
      rgb(0, 236, 165) 49%,
      rgb(255, 0, 200) 100%
    );
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
  }
  
  .about:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
  }
  
  @keyframes effect {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
