/* DESKTOP VIEW */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    min-height: 100vh;
}
    
.leftbar {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 5%;
    margin-left: 20%;
    border-radius: 10px;
    min-width: 100px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
}

.main {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 5%;
    margin-left: 10%;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
}

.rightbar {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 2;
}

.header {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 1;
}

.mainbar {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 5;
}

.undefined {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 2;
}