#hleftbar {
    display: grid;
    text-align: center;
    margin-bottom: 30px;
}

.barber-selection {
    display: grid;
    row-gap: 50px;
    margin: 10px;
}

.barber-option {
    text-align: center;
}

.barber-option input[type="radio"] {
    display: none;
}

.barber-option label {
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.barber-option img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.barber-option input[type="radio"]:checked + label img {
    border-color: #0772ff;
}

.barber-option label span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #4e4e4e;
}